body {
  width: 80%;
  max-width: 700px;
  border: 20px solid #bdc3c7;
  margin: 20px auto;
  padding: 20px;
  font-family: Source Sans Pro, sans-serif;
}

.date {
  text-transform: uppercase;
  color: #3498db;
  margin: 0;
  letter-spacing: 0.2rem;
  font-weight: 400;
}

h2 {
  color: #2c3e50;
  font-size: 2rem;
  letter-spacing: 2px;
  font-weight: 700;
}

p {
  padding: 0;
}

p:nth-of-type(2) {
  border-left: 6px solid #bdc3c7;
  padding-left: 6px;
}

hr {
  border: 1px solid #dedede;
  margin: 20px auto;
}
